
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600&family=Ubuntu:wght@300&display=swap');

@import "_nav";
@import "_encabezado";
@import "_principal";

@import "_footer";




*{
    margin: 0;
    padding: 0;
}

$btn:(
    padding: 10px 15px,
    bordes:0,
    radio:5px
);


.btn{
padding: map-get($btn , padding );
border: map-get($btn, bordes );
border-radius: map-get($btn, radio );
border-color: black;
}


